.project-image-container {
  padding-bottom: 7vw;
  border-bottom: 1px solid black;
}

.images {
  padding-top: 9vw;
}

.twodivs {
  width: 85vw;
  height: auto;
}

.projects-text-container {
  padding-bottom: 5vw;
  border-bottom: 1px solid black;
}

.projects-title {
  margin-bottom: 0;
}

.projects-button-container {
  padding-top: 3vw;
}

.projects-button {
  text-align: center;
  border: 1px solid black;
  outline: none;
  background: #fff;
  font-size: 3vw;
  padding: 4vw 8vw;
  font-family: 'Public Sans', sans-serif;
  cursor: pointer;
}
